*.iml
.idea

/.idea

log.txt

target
/target
/computer_kurzweil_app/target
/insourcing_cyclic_cellular_automaton/target
/insourcing_cyclic_cellular_automaton/target
/insourcing_diffusion_limited_aggregation/target
/insourcing_mandelbrot/target
/insourcing_simulated_evolution/target

release.properties
pom.xml.releaseBackup
/console.log
/a.xml
/a2.xml
/computer-kurzweil-app/dependency-reduced-pom.xml
/single-apps/legacy/mandelbrot/dependency-reduced-pom.xml
/single-apps/insourcing/insourcing-cyclic-cellular-automaton/dependency-reduced-pom.xml
/single-apps/insourcing2/insourcing2-cyclic-cellular-automaton/dependency-reduced-pom.xml
/pom.xml.next
/pom.xml.tag
/computer-kurzweil-app/pom.xml.next
/computer-kurzweil-app/pom.xml.tag
/research-and-education/pom.xml.next
/research-and-education/pom.xml.tag

/research-and-education/java-swing-prototype-netbeans/pom.xml.next
/research-and-education/java-swing-prototype-netbeans/pom.xml.tag
/research-and-education/java-swing-prototype-intellij/pom.xml.next
/research-and-education/java-swing-prototype-intellij/pom.xml.tag
/single-apps/pom.xml.next
/single-apps/pom.xml.tag
/single-apps/legacy/pom.xml.next
/single-apps/legacy/pom.xml.tag
/single-apps/legacy/cyclic-cellular-automaton/pom.xml.next
/single-apps/legacy/cyclic-cellular-automaton/pom.xml.tag
/single-apps/legacy/diffusion-limited-aggregation/pom.xml.next
/single-apps/legacy/diffusion-limited-aggregation/pom.xml.tag
/single-apps/legacy/mandelbrot/pom.xml.next
/single-apps/legacy/mandelbrot/pom.xml.tag
/single-apps/legacy/simulated-evolution/pom.xml.next
/single-apps/legacy/simulated-evolution/pom.xml.tag
/single-apps/insourcing/pom.xml.next
/single-apps/insourcing/pom.xml.tag
/single-apps/insourcing/insourcing-cyclic-cellular-automaton/pom.xml.next
/single-apps/insourcing/insourcing-cyclic-cellular-automaton/pom.xml.tag
/single-apps/insourcing/insourcing-diffusion-limited-aggregation/pom.xml.next
/single-apps/insourcing/insourcing-diffusion-limited-aggregation/pom.xml.tag
/single-apps/insourcing/insourcing-mandelbrot/pom.xml.next
/single-apps/insourcing/insourcing-mandelbrot/pom.xml.tag
/single-apps/insourcing/insourcing-simulated-evolution/pom.xml.next
/single-apps/insourcing/insourcing-simulated-evolution/pom.xml.tag
/mvn-repository/
