.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
#


*.iml

/allinone/build/
/cyclic-cellular-automaton/build/
/diffusion-limited-aggregation/build/
/koch-snowflake/build/
/mandelbrot/build/
/samegame/build/
/sierpinski-triangle/build/
/simulated-evolution/build/
/tetris/build/
/turmite/build/
/wator/build
/swingtutorial/build
/dir.txt
/.idea/uiDesigner.xml
/.idea/compiler.xml
/.idea/workspace.xml
