*.iml
.idea

/.idea

log.txt

target
/target
/computer_kurzweil_app/target
/insourcing_cyclic_cellular_automaton/target
/insourcing_cyclic_cellular_automaton/target
/insourcing_diffusion_limited_aggregation/target
/insourcing_mandelbrot/target
/insourcing_simulated_evolution/target

release.properties
pom.xml.releaseBackup
/console.log
/a.xml
/a2.xml
/computer-kurzweil-app/dependency-reduced-pom.xml
/single-apps/legacy/mandelbrot/dependency-reduced-pom.xml
